<div class="container">
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 product" *ngFor="let item of products">
        <img [src]="item.productImage">
        <p class="title text-center">{{item.productsTitle}}</p>
        <p class="text-center">{{item.productsDetails}}  </p>
        <div class="text-center">
            <p><span class="discount text-danger" *ngIf="item.productPrice>0"> {{item.productPrice}} د.ك</span> {{item.productDiscount}} د.ك</p>
            <a href="https://wa.me/{{temp.social}}?text=مرحباً اريد الحصول علي هذا المنتج : %0aاسم المنتج%20:%20{{item.productsTitle}}%0aتفاصيل المنتج : %20{{item.productsDetails}}%0aالسعر المطلوب%20:%20{{item.productDiscount}} د.ك %0a صورة المنتج :  {{item.productImage| editProductLink}}" *ngFor="let temp of whatsapp" target="_blank" class="btn btn-primary">
                <button class="btn btn-primary">شراء</button>
            </a>
        </div>
    </div>
</div>