<div class="container">
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 product">
        <img src="assets/1.jpg">
        <p class="title text-center">Hello</p>
        <p class="text-center">Lorem ipsua saepe sequi deserunt id iusto accusamus beatae archi tenetur voluptas labore!
        </p>
        <div class="text-center">
            <p><span class="discount text-danger"> د.ك 140</span> 120 د.ك </p>
            <button class="btn btn-primary">شراء</button>
        </div>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 product">
        <img src="assets/2.jpg">
        <p class="title text-center">Welcome</p>
        <p class="text-center">Lorem ipsum dolor sit amet, nulla saepe sequi deserunt </p>
        <div class="text-center">
            <p><span class="discount text-danger"> د.ك 80</span> 78 د.ك </p>
            <button class="btn btn-primary">شراء</button>
        </div>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 product">
        <img src="assets/3.jpg">
        <p class="title text-center">hi</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur deserunt id ioluptates sunt, tenetur nemo quo.
            Amet eum voluptas labore!</p>
        <div class="text-center">
            <p><span class="discount text-danger"> د.ك 75</span> 50 د.ك </p>
            <button class="btn btn-primary">شراء</button>
        </div>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 product">
        <img src="assets/1.jpg">
        <p class="title text-center">Hello</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sed asperiores, nulla
            saepe sequi deserunt </p>
        <div class="text-center">
            <p><span class="discount text-danger"> د.ك 90</span> 85 د.ك </p>
            <button class="btn btn-primary">شراء</button>
        </div>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 product">
        <img src="assets/2.jpg">
        <p class="title text-center">Welcome</p>
        <p class="text-center">Lorem ipsum dolor sit amet, , nulla saepe sequi deserunt </p>
        <div class="text-center">
            <p><span class="discount text-danger"> د.ك 75</span> 40 د.ك </p>
            <button class="btn btn-primary">شراء</button>
        </div>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 product">
        <img src="assets/3.jpg">
        <p class="title text-center">hi</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sed asperiores, nulla
            saepe sequi deserunt </p>
        <div class="text-center">
            <p><span class="discount text-danger"> د.ك 60</span> 52 د.ك </p>
            <button class="btn btn-primary">شراء</button>
        </div>
    </div>
</div>