.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-height: 50px;
}

.product {
    padding: 5px;
}

.product img {
    height: 270px;
    border-radius: 10px;
    width: 100%;
}

.product p {
    margin-bottom: 5px;
}

.title {
    margin-top: 5px;
    margin-bottom: 3px;
}

.discount {
    text-decoration: line-through;
    text-decoration-color: rgba(133, 131, 131, 0.6784313725);
    text-decoration-color: rgba(0, 0, 0, 0.476);
    margin-left: 19%;
    font-weight: 700;
    float: left;
    margin-right: -34%;
}

div a {
    padding: 0px;
}

.cart-div {
    position: fixed;
    bottom: 1px;
    background-color: #dee2e68a;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
    backdrop-filter: blur(12px);
}

.cart-div p {
    margin: 0px;
}

.bi-bag-heart {
    margin-right: 5px;
    font-size: 15px;
}


.offcanvas-body {
    background-color: #dee2e6;
}

.offcanvas-body div {
    position: relative;
}

.offcanvas-body div img {
    width: 60%;
    height: 180px;
    border-radius: 10px;
}

.offcanvas-body div p {
    margin-bottom: 1px;
    color: black;
}

.btn-delete {
    position: absolute;
    top: -270px;
    left: 76%;
    border-radius: 50%;
    font-weight: 500;
    height: 30px;
    width: 30px;
    color: #ff0606;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-delete i {
    font-size: 20px;
}

@media screen and (max-width:600px) {
    .cart-div {
        margin-left: 1%;
        padding: 7px 0px ;
    }

    .cart-div p {
        font-size: .87rem;
        text-align: center;
        margin: 3px;
    }
}