.container{
    display: flex;
    flex-wrap: wrap;
}
.product{
    padding: 5px;
}
.product img{
    height: 270px;
    border-radius: 10px;
    width: 100%;
}
.title{
    margin-top: 5px;
    margin-bottom: 3px;
}
.discount{
    text-decoration: line-through;
    text-decoration-color: rgba(133, 131, 131, 0.6784313725);
    margin-left: 19%;
    font-weight: 700;
    float: left;
    margin-right: -34%;
}