<div class="container">
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 d-flex justify-content-center flex-wrap text-center">
        <iframe src="https://www.youtube.com/embed/qrolVhT05iQ" frameborder="0"></iframe>
        <p class="title">تلاوة هادئة .. القارئ هزاع البلوشي  </p>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 d-flex justify-content-center flex-wrap text-center">
        <iframe src="https://www.youtube.com/embed/1O_VxbrzWHQ" frameborder="0"></iframe>
        <p class="title">هزاع البلوشي تلاوة خاشعة لعلاج ضيق الصدر والهم ارح مسمعك واسمعها        </p>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-4 p-2 d-flex justify-content-center flex-wrap text-center">
        <iframe src="https://www.youtube.com/embed/MagEXhAbLkM" frameborder="0"></iframe>
        <p class="title">سورة البقرة بصوت هزاع البلوشي بجودة عالية        </p>
    </div>
</div>