<div class="col-12 bg-light d-flex justify-content-center">
    <div class="container">
        <div class="col-sm-5 cart pt-4">
            <h4 class="m-2 ml-4">Cart</h4>
            <div class="text-center cart-div-content" *ngFor="let item of cart;let i=index">
                <img src="{{item.productImage}}" alt="" class="m-1">
                <p class="text-primary">{{item.productsTitle}}</p>
                <p>{{item.productDiscount}} د.ك</p>
                <p>{{item.productsDetails}}</p>
                <p class="change-quantity"> <span><i class="bi bi-dash-circle-dotted"
                            (click)="calc(item.productDiscount,i,-1)"></i></span>
                    <span>{{this.cart[i].productquantity}}</span>
                    <span><i class="bi bi-plus-circle-dotted" (click)="calc(item.productDiscount,i,1)"></i></span>
                </p>
                <div class="text-center offcanvas-btns">
                    <button class="btn btn-light btn-delete" (click)="delete(i)"><i
                            class="bi bi-trash3-fill"></i></button>
                </div>
            </div>
        </div>
        <div class="col-sm-7 pt-4">
            <h4 class="m-2 ml-4">Enter your delivery details </h4>
            <form [formGroup]="address">
                <div class="inputs-div pt-2">
                    <div class="form-group m-2 mb-3">
                        <input type="text" class="form-control" formControlName="phone" (keyup)="viewRealWatsApp()"
                            placeholder="رقم الهاتف  ">
                    </div>
                    <div class="form-group m-2 mb-3">
                        <input type="text" class="form-control" formControlName="country" (keyup)="viewRealWatsApp()"
                            placeholder="الدولة ">
                    </div>
                    <div class="form-group m-2 mb-3">
                        <input type="text" class="form-control" formControlName="area" (keyup)="viewRealWatsApp()"
                            placeholder="المنطقة ">
                    </div>
                    <div class="form-group m-2 mb-3">
                        <input type="text" class="form-control" formControlName="street" (keyup)="viewRealWatsApp()"
                            placeholder="الشارع ">
                    </div>
                    <div class="form-group m-2 mb-3">
                        <input type="text" class="form-control" formControlName="home" (keyup)="viewRealWatsApp()"
                            placeholder="المنزل ">
                    </div>
                    <!-- <div class="form-group m-2 mb-3">
                        <input type="text" class="form-control" placeholder="الحي ">
                    </div> -->
                    <!-- <div class="form-group m-2">
                        <input type="text" class="form-control" placeholder="Avenue ">
                    </div> -->
                </div>
                <!-- <div class="text-center m-2">
                    <button class="btn btn-primary" type="submit"> Pay Now</button>
                </div> -->
            </form>
        </div>
        <div class="text-center col-12">
            <small class="text-danger">* سيتم اضافة 3 دينار رسوم توصيل *</small>
        </div>

        <div class="col-12 btn btn-dark m-1" *ngIf="fakeWhatsappButton" (click)="errorMsg()">شراء ( {{totalCost}} د.ك )</div>

        <div class="col-12 alert alert-danger" *ngIf="showAlertMsg && fakeWhatsappButton">خطاء , يرجي اكمال بياناتك</div>
        
        <ng-container *ngIf="!fakeWhatsappButton">
            <a class="col-12" href="https://wa.me/{{item.social}}?text={{whatsappDataLinkMsg}}"
                *ngFor="let item of whatsapp" target="_blank">
                <div class="btn btn-dark text-center mt-1" style="width: 100%;" type="button"
                    (click)="whatsappDataLinkFun()">شراء ( {{totalCost}} د.ك )
                </div>
            </a>
        </ng-container>
        
        <hr class="col-12">
        <div class="col-12 d-flex justify-content-end flex-wrap">
            <div class="col-sm-7">
                <p class="title text-primary">Delivery Note</p>
                <p class="text">إذا كان الطلب داخل دولة الكويت يصلكم خلال اليوم وبأسرع وقت ممكن بإذن الله وإذا كانت
                    الطلبية من خارج الكويت تحتاج خمسة أيام عمل وتصلكم لمنزلكم في دولتكم الكريمة وأرجو التواصل معنا واتسب
                    لتزويدنا فالبيانات الكاملة لمنزلكم في دولتكم
                </p>
            </div>
        </div>
    </div>
</div>