@media screen and (max-width:600px) {
    div.fixed-whats{
        bottom: 10px;
        right: 10px;
        height: 48px;
        width: 48px;
    }
    div.fixed-whats a i.bi{
        font-size: 31.5px;
        margin-top: -1px;
    }
}

.fixed-whats{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    z-index: 5;
    border-radius: 50%;
}
.fixed-whats a .bi{
    font-size: 36px;
    color: white;
    text-align: center;
}