<div class="col-12 dashboard-view">
    <div class="sidebar">
        <div class="links-div">
            <div>
                <img src="assets/logo.png" routerLink="//admin" alt="" class="img-logo">
                <a (click)="showChart=false" routerLink="home-dash" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact:true}"> الصفحة الرئيسية</a>
                <a (click)="showChart=false" routerLink="about-us-dash" [routerLinkActive]="'active'"> عن الراقي </a>
                <a (click)="showChart=false" routerLink="social-icons-dash" [routerLinkActive]="'active'"> سوشيال ميديا
                </a>
                <a (click)="showChart=false" routerLink="fatawy-dash" [routerLinkActive]="'active'"> فتاوي</a>
                <a (click)="showChart=false" routerLink="sounds-dash" [routerLinkActive]="'active'"> الصوتيات</a>
                <a (click)="showChart=false" routerLink="visuals-dash" [routerLinkActive]="'active'"> المرئيات</a>
                <a (click)="showChart=false" routerLink="products-dash" [routerLinkActive]="'active'"> المنتجات</a>
                <a (click)="showChart=false" routerLink="products-dash" [routerLinkActive]="'active'"> المنتجات
                    المباعة</a>
                <a (click)="showChart=false" routerLink="visits-dash" [routerLinkActive]="'active'"> زيارتنا</a>
                <!-- <a (click)="showChart=false" routerLink="call-us-dash" [routerLinkActive]="'active'"> اتصل بنا</a> -->
                <a class="btn btn-danger" (click)="signOut()"> الخروج</a>
            </div>
        </div>
    </div>
    <div class="content">
        <router-outlet *ngIf="!showChart" class="content-data"></router-outlet>
        <div [ngStyle]="{'display':showChart? 'block':'none'}" style="height: 70vh;" class="pt-5 d-flex justify-content-center">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>