.dashboard-view{
    height: 100vh;
    display: flex;
    padding: 0%;
    margin: 0%;
    overflow-y: scroll;
}
.img-logo{
    height: 100px;
    width: 100%;
    background-color: #f7fdff;
    border-radius: 15px;
}
.sidebar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20%;
    background-color: #45697f;
    height: 100%;
}
.links-div{
    display: flex;
    align-items: center;
    height: 100%;
}
.links-div div{
    width: 100%;
    padding: 2px 15px;
}
.links-div div a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 8px 0px ;
    color: white;
    background-color: #9b9b9b85;
    padding: 8px 15px;
    border-radius: 7px;
    font-family: 'Noto Kufi Arabic';
}
.links-div div a:hover,.active{
    background-color: #68bd9ef0 !important;
}
.content{
    width: 80%;
    background-color: rgb(241 241 255 / 42%);
    height: 100%;
    position: absolute;
    top: 0px;
    right: 20%;
    overflow-y: scroll;
}
.btn-danger{
    background-color: rgb(211, 34, 34) !important;
    font-family: revert-layer;
    font-size: 15px;
}