<div class="col-12">
    <form action="" class="container">
        <div class="form-group m-2">
            <label for="email">الايميل <span class="text-danger">*</span></label>
            <input type="email" class="form-control" placeholder="Enter your email">
        </div>
        <div class="form-group m-2">
            <label for="email">نوع الرسالة <span class="text-danger">*</span></label>
            <select class="form-select" aria-label="Default select example">
                <option selected>- اختر نوع الرسالة - </option>
                <option value="1">اقتراح</option>
                <option value="2">استفسار</option>
                <option value="3">تنبية</option>
              </select>
        </div>
        <div class="form-group m-2">
            <label for="msg">ادخل نص الرسالة <span class="text-danger">*</span></label>
            <textarea name="msg" id="msg" cols="30" rows="7" class="form-control"></textarea>
        </div>
    </form>
</div>
