<div class="col-12 bg-light">
    <table class="container mt-2 table table-striped table-hover">
            <!-- <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead> -->
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>فضل يوم عرفة</td>
                <td><i class="bi bi-play-circle-fill"></i></td>
                <td><i class="bi bi-file-earmark-arrow-down"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>الأعمال المشروعه في يوم التروية </td>
                <td><i class="bi bi-play-circle-fill"></i></td>
                <td><i class="bi bi-file-earmark-arrow-down"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>النقص في الحج بسبب الجهل والعجلة</td>
                <td><i class="bi bi-play-circle-fill"></i></td>
                <td><i class="bi bi-file-earmark-arrow-down"></i></td>
              </tr>
            </tbody>
    </table>
</div>