.container{
    background-color: white;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.title{
    color: #007f6d;
    font-size: 1rem;
    font-weight: 700;
    font-family: sans-serif;
}
.image-dash-view{
    height: 82px;
    width: 95px;
    border-radius: 10px;
}
.deleted-Image{
    max-width: 80%;
    max-height: 350px;
}
@media screen and (max-width:700px) {
    .container{
        padding: 2px 10px;
    }
}