/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';

[class*="col-"] {
    direction: ltr;
    float: right;
    width: 100%;
}

* {
    transition: .3s;
    scroll-behavior: smooth;
}

.col-12 {
    direction: rtl;
    padding: 2px 20px;
}

label {
    font-weight: 600;
}

form img {
    margin-top: 15px;
}

button {
    font-size: 13px !important;
}

::-webkit-scrollbar {
    width: 5px;
}

@media screen and (max-width:700px) {
    .col-12 {
        padding: 2px;
    }

}